# Django
DJANGO_WSGI_MODULE=cyberpolygon.wsgi:application
DJANGO_SETTINGS_MODULE=cyberpolygon.settings
SECRET_KEY=replace_me_with_secret_key
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1,172.18.252.50

# Database (PostgreSQL)
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass

# Initialization
# Set to 1 to automatically run init_data.py on first startup
INIT_DATA=0

# Gunicorn (optional, defaults are good)
# GUNICORN_WORKERS=4
# GUNICORN_TIMEOUT=120
