
      {% include 'header.html' %}

   <div id="root">
      <div>
         <div class="fixed tw-fea tw-hja tw-m tw-rx tw-fr"></div>
         <div class="fixed tw-fea tw-gja tw-q tw-hc tw-gs tw-rx"></div>
         <div class="tw-ts tw-wj fixed tw-fea tw-ala tw-jla tw-lk tw-ih"></div>
         <div class="tw-da tw-ag sticky tw-ala tw-voa tw-bm tw-ap tw-cb tw-ca" data-at-top="true">
            <div class="container flex tw-nla tw-fp tw-zi">
               <div class="flex tw-fp tw-rja">
                  <div class="tw-lx">
                     <div class="drawer">
                        <input id="tw-px" class="drawer-toggle" type="checkbox">
                        <div class="drawer-content"><label for="tw-px" class="btn btn-sm btn-ghost btn-square drawer-button"><span class="iconify lucide--menu tw-gia"></span></label></div>
                        <div class="drawer-side">
                           <label for="tw-px" aria-label="close sidebar" class="drawer-overlay"></label>
                           <div class="tw-vq flex tw-xz tw-moa tw-uz tw-xna">
                              <div class="flex tw-vk"><a href="/" data-discover="true"><img alt="logo-dark" class="hidden tw-apa tw-qha tw-er " src="/images/logo/logo-dark.svg"><img alt="logo-light" class="tw-apa tw-qha tw-dr " src="/images/logo/logo-light.svg"></a></div>
                              <div class="tw-vea grow">
                                 <div data-simplebar="init" class="tw-nma tw-cy">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                       <div class="simplebar-height-auto-observer-wrapper">
                                          <div class="simplebar-height-auto-observer"></div>
                                       </div>
                                       <div class="simplebar-mask">
                                          <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                             <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;">
                                                <div class="simplebar-content" style="padding: 0px;">
                                                   <p class="tw-ud tw-vma tw-hga tw-gr">Navigation</p>
                                                   <ul class="menu tw-jma tw-wia tw-fpa tw-nna tw-rka">
                                                      <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/" data-discover="true">Home</a></li>
                                                      <li>
                                                         <details>
                                                            <summary>Landings</summary>
                                                            <ul>
                                                               <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/developer" target="_blank" data-discover="true">Developer</a></li>
                                                               <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/automation" target="_blank" data-discover="true">Automation</a></li>
                                                            </ul>
                                                         </details>
                                                      </li>
                                                      <li>
                                                         <details>
                                                            <summary>Pages</summary>
                                                            <ul>
                                                               <li>
                                                                  <details>
                                                                     <summary>Settings</summary>
                                                                     <ul>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/settings/profile" data-discover="true">Profile</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/settings/account" data-discover="true">Account</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/settings/notification" data-discover="true">Notification</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/settings/plan" data-discover="true">Manage Plan</a></li>
                                                                     </ul>
                                                                  </details>
                                                               </li>
                                                               <li>
                                                                  <details>
                                                                     <summary>Auth</summary>
                                                                     <ul>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/auth/login" target="_blank" data-discover="true">Login</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/auth/register" target="_blank" data-discover="true">Register</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/auth/forgot-password" target="_blank" data-discover="true">Forgot Password</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/auth/reset-password" target="_blank" data-discover="true">Reset Password</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/auth/verify" target="_blank" data-discover="true">Verify</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/auth/2fa" target="_blank" data-discover="true">2FA</a></li>
                                                                     </ul>
                                                                  </details>
                                                               </li>
                                                               <li>
                                                                  <details>
                                                                     <summary>Company</summary>
                                                                     <ul>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/company/who-we-are" data-discover="true">Who we are</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/company/storyline" data-discover="true">Storyline</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/company/careers" data-discover="true">Careers</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/company/blogs" data-discover="true">Blogs</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/company/blogs/single" data-discover="true">Single Blog</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/company/privacy" data-discover="true">Privacy</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/company/terms" data-discover="true">Terms</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/company/contact" data-discover="true">Contact</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/company/faq" data-discover="true">FAQs</a></li>
                                                                     </ul>
                                                                  </details>
                                                               </li>
                                                               <li>
                                                                  <details>
                                                                     <summary>Extra</summary>
                                                                     <ul>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/extra/coming-soon" target="_blank" data-discover="true">Coming Soon</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/extra/maintenance" target="_blank" data-discover="true">Maintenance</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/extra/notify" target="_blank" data-discover="true">Notify</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/extra/errors-404" target="_blank" data-discover="true">Error 404</a></li>
                                                                     </ul>
                                                                  </details>
                                                               </li>
                                                               <li>
                                                                  <details>
                                                                     <summary>Pricing</summary>
                                                                     <ul>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/pricing/lifetime" data-discover="true">Lifetime</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/pricing/subscription" data-discover="true">Subscription</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/pricing/users" data-discover="true">Users</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/pricing/comparison" data-discover="true">Comparison</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/pricing/single" data-discover="true">Single</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/pricing/double" data-discover="true">Double</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/pricing/custom" data-discover="true">Custom</a></li>
                                                                     </ul>
                                                                  </details>
                                                               </li>
                                                               <li>
                                                                  <details>
                                                                     <summary>Testimonials</summary>
                                                                     <ul>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/testimonials/simple" data-discover="true">Simple</a></li>
                                                                        <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/testimonials/swiper" data-discover="true">Swiper</a></li>
                                                                     </ul>
                                                                  </details>
                                                               </li>
                                                               <li><a class="tw-bg tw-is block tw-ona tw-dia tw-hga" href="/motion-effects" data-discover="true">Motion Effects</a></li>
                                                            </ul>
                                                         </details>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                       <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                                       <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a href="/" data-discover="true"><img alt="logo-dark" class="hidden tw-apa tw-qha tw-er " src="/images/logo/logo-dark.svg"><img alt="logo-light" class="tw-apa tw-qha tw-dr " src="/images/logo/logo-light.svg"></a>
               </div>
               <div class="hidden tw-fp tw-pja tw-qea">
                  <a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/" data-discover="true">Home</a>
                  <div class="dropdown dropdown-hover dropdown-center group">
                     <button tabindex="0" role="button" class="tw-bg tw-is flex tw-rk tw-fp tw-cea tw-ona tw-dia tw-hga">Landings<span class="iconify lucide--chevron-down tw-bm tw-zo tw-oc"></span></button>
                     <div tabindex="0" class="dropdown-content tw-vq tw-is tw-ppa tw-joa tw-ps tw-hpa tw-hga tw-yx"><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/developer" target="_blank" data-discover="true"><span class="iconify lucide--code tw-fia"></span>Developer</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/automation" target="_blank" data-discover="true"><span class="iconify lucide--settings tw-fia"></span>Automation</a></div>
                  </div>
                  <div class="dropdown dropdown-hover dropdown-center group">
                     <button tabindex="0" role="button" class="tw-bg tw-is flex tw-rk tw-fp tw-cea tw-ona tw-dia tw-hga">Pages<span class="iconify lucide--chevron-down tw-bm tw-zo tw-oc"></span></button>
                     <div tabindex="0" class="dropdown-content tw-vq tw-is tw-ppa tw-joa tw-ps tw-hpa tw-hga tw-yx">
                        <div class="dropdown dropdown-hover dropdown-right tw-wia">
                           <div tabindex="0" role="button" class="tw-bg tw-is flex tw-rk tw-fp tw-dea tw-ona tw-dia tw-hga"><span class="iconify lucide--user tw-fia"></span>Settings<span class="iconify lucide--chevron-right tw-afa"></span></div>
                           <div tabindex="0" class="dropdown-content tw-vq tw-is tw-ct tw-ppa tw-joa tw-hpa tw-hga tw-yx"><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/settings/profile" data-discover="true">Profile</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/settings/account" data-discover="true">Account</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/settings/notification" data-discover="true">Notification</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/settings/plan" data-discover="true">Manage Plan</a></div>
                        </div>
                        <div class="dropdown dropdown-hover dropdown-right tw-wia">
                           <div tabindex="0" role="button" class="tw-bg tw-is flex tw-rk tw-fp tw-dea tw-ona tw-dia tw-hga"><span class="iconify lucide--shield-check tw-fia"></span>Auth<span class="iconify lucide--chevron-right tw-afa"></span></div>
                           <div tabindex="0" class="dropdown-content tw-vq tw-is tw-ct tw-ppa tw-joa tw-hpa tw-hga tw-yx"><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/auth/login" target="_blank" data-discover="true">Login</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/auth/register" target="_blank" data-discover="true">Register</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/auth/forgot-password" target="_blank" data-discover="true">Forgot Password</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/auth/reset-password" target="_blank" data-discover="true">Reset Password</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/auth/verify" target="_blank" data-discover="true">Verify</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/auth/2fa" target="_blank" data-discover="true">2FA</a></div>
                        </div>
                        <div class="dropdown dropdown-hover dropdown-right tw-wia">
                           <div tabindex="0" role="button" class="tw-bg tw-is flex tw-rk tw-fp tw-dea tw-ona tw-dia tw-hga"><span class="iconify lucide--building-2 tw-fia"></span>Company<span class="iconify lucide--chevron-right tw-afa"></span></div>
                           <div tabindex="0" class="dropdown-content tw-vq tw-is tw-ct tw-ppa tw-joa tw-hpa tw-hga tw-yx">
                              <a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/company/who-we-are" data-discover="true">Who we are</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/company/storyline" data-discover="true">Storyline</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/company/careers" data-discover="true">Careers</a>
                              <hr class="tw-hi tw-eja tw-wma">
                              <p class="tw-ud tw-tma tw-xla tw-gr">Reader</p>
                              <a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/company/blogs" data-discover="true">Blogs</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/company/blogs/single" data-discover="true">Single Blog</a>
                              <hr class="tw-hi tw-eja tw-wma">
                              <p class="tw-ud tw-tma tw-xla tw-gr">Legal</p>
                              <a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/company/privacy" data-discover="true">Privacy</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/company/terms" data-discover="true">Terms</a>
                              <hr class="tw-hi tw-eja tw-wma">
                              <p class="tw-ud tw-tma tw-xla tw-gr">Help &amp; Support</p>
                              <a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/company/contact" data-discover="true">Contact</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/company/faq" data-discover="true">FAQs</a>
                           </div>
                        </div>
                        <div class="dropdown dropdown-hover dropdown-right tw-wia">
                           <div tabindex="0" role="button" class="tw-bg tw-is flex tw-rk tw-fp tw-dea tw-ona tw-dia tw-hga"><span class="iconify lucide--box tw-fia"></span>Extra<span class="iconify lucide--chevron-right tw-afa"></span></div>
                           <div tabindex="0" class="dropdown-content tw-vq tw-is tw-ct tw-ppa tw-joa tw-hpa tw-hga tw-yx"><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/extra/coming-soon" target="_blank" data-discover="true">Coming Soon</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/extra/maintenance" target="_blank" data-discover="true">Maintenance</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/extra/notify" target="_blank" data-discover="true">Notify</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/extra/errors-404" target="_blank" data-discover="true">Error 404</a></div>
                        </div>
                        <hr class="tw-hi tw-eja tw-wma">
                        <p class="tw-ud tw-tma tw-xla tw-gr">Sections</p>
                        <div class="dropdown dropdown-hover dropdown-right tw-wia">
                           <div tabindex="0" role="button" class="tw-bg tw-is flex tw-rk tw-fp tw-dea tw-ona tw-dia tw-hga"><span class="iconify lucide--dollar-sign tw-fia"></span>Pricing<span class="iconify lucide--chevron-right tw-afa"></span></div>
                           <div tabindex="0" class="dropdown-content tw-vq tw-is tw-ct tw-ppa tw-joa tw-hpa tw-hga tw-yx">
                              <a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/pricing/lifetime" data-discover="true">Lifetime</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/pricing/subscription" data-discover="true">Subscription</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/pricing/users" data-discover="true">Users</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/pricing/comparison" data-discover="true">Comparison</a>
                              <hr class="tw-hi tw-eja tw-wma">
                              <p class="tw-ud tw-tma tw-xla tw-gr">Options</p>
                              <a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/pricing/single" data-discover="true">Single</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/pricing/double" data-discover="true">Double</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/pricing/custom" data-discover="true">Custom</a>
                           </div>
                        </div>
                        <div class="dropdown dropdown-hover dropdown-right tw-wia">
                           <div tabindex="0" role="button" class="tw-bg tw-is flex tw-rk tw-fp tw-dea tw-ona tw-dia tw-hga"><span class="iconify lucide--message-circle tw-fia"></span>Testimonials<span class="iconify lucide--chevron-right tw-afa"></span></div>
                           <div tabindex="0" class="dropdown-content tw-vq tw-is tw-ct tw-ppa tw-joa tw-hpa tw-hga tw-yx"><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/testimonials/simple" data-discover="true">Simple</a><a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/testimonials/swiper" data-discover="true">Swiper</a></div>
                        </div>
                        <a class="tw-bg tw-is flex tw-fp tw-dea tw-ona tw-dia tw-hga" href="/motion-effects" data-discover="true"><span class="iconify lucide--combine tw-fia"></span>Motion Effects</a>
                     </div>
                  </div>
               </div>
               <div class="flex tw-fp tw-qja">
                  <div class="dropdown dropdown-center">
                     <div tabindex="0" role="button" class="btn btn-sm btn-ghost btn-circle" aria-label="Theme toggle"><span class="iconify lucide--sun hidden tw-fia tw-u "></span><span class="iconify lucide--moon hidden tw-fia tw-v "></span><span class="iconify lucide--monitor hidden tw-fia tw-r "></span></div>
                     <ul tabindex="0" class="dropdown-content menu tw-vq tw-is tw-ppa tw-goa tw-ps tw-gpa tw-yx ">
                        <li>
                           <div class="tw-w flex tw-qja"><span class="iconify lucide--sun tw-rba"></span><span class="tw-gr">Light</span></div>
                        </li>
                        <li>
                           <div class="tw-y flex tw-qja"><span class="iconify lucide--moon tw-rba"></span><span class="tw-gr">Dark</span></div>
                        </li>
                        <li>
                           <div class="tw-t flex tw-qja"><span class="iconify lucide--monitor tw-rba"></span><span class="tw-gr">System</span></div>
                        </li>
                     </ul>
                  </div>
                  <div class="dropdown dropdown-hover md:dropdown-center dropdown-end">
                     <div class="avatar tw-rk">
                        <div class="tw-wq mask tw-cn tw-opa"><img alt="Avatar" src="/images/avatars/1.png"></div>
                     </div>
                     <div tabindex="0" class="dropdown-content tw-vq tw-is tw-ppa tw-ioa tw-hpa tw-hga tw-yx">
                        <ul class="menu tw-wia tw-fpa">
                           <li><a class="flex tw-fp tw-qja tw-ona tw-dia" href="/settings/profile" data-discover="true"><span class="iconify lucide--user tw-fia"></span><span>Profile</span></a></li>
                           <li><a class="flex tw-fp tw-qja tw-ona tw-dia" href="/settings/account" data-discover="true"><span class="iconify lucide--settings tw-fia"></span><span>Account</span></a></li>
                           <li><a class="flex tw-fp tw-qja tw-ona tw-dia" href="/settings/notification" data-discover="true"><span class="iconify lucide--bell tw-fia"></span><span>Notification</span></a></li>
                        </ul>
                        <hr class="tw-hi tw-eja tw-wma">
                        <ul class="menu tw-wia tw-fpa">
                           <li><a class="tw-dg tw-gv tw-is flex tw-fp tw-qja tw-ona tw-dia" href="/auth/login" data-discover="true"><span class="iconify lucide--log-out tw-fia"></span><span>Logout</span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container tw-nda tw-iw">
            <div class="flex tw-uja tw-faa tw-fda tw-zv">
               <div class="card tw-vq sticky tw-ria tw-soa tw-cka tw-moa tw-ona tw-wna shadow tw-fn tw-mea">
                  <p class="tw-sma tw-gga tw-gr">Settings</p>
                  <p class="tw-ud tw-sma tw-kma tw-hga tw-gr">General</p>
                  <ul class="menu tw-is tw-kma tw-wia tw-my tw-fpa">
                     <li>
                        <a class="flex tw-fp tw-dea tw-wq" href="/settings/profile" data-discover="true">
                           <span class="iconify lucide--user tw-rba"></span>
                           <p class="grow">Profile</p>
                           <span class="iconify lucide--chevron-right"></span>
                        </a>
                     </li>
                     <li>
                        <a class="flex tw-fp tw-dea " href="/settings/account" data-discover="true">
                           <span class="iconify lucide--settings-2 tw-rba"></span>
                           <p class="grow">Account</p>
                           <div class="tooltip tooltip-warning" data-tip="Need your attention"><span class="iconify lucide--alert-triangle tw-lq block tw-fia"></span></div>
                        </a>
                     </li>
                     <li>
                        <a class="flex tw-fp tw-dea " href="/settings/notification" data-discover="true">
                           <span class="iconify lucide--bell tw-rba"></span>
                           <p class="grow">Notification</p>
                           <span class="iconify lucide--chevron-right"></span>
                        </a>
                     </li>
                  </ul>
                  <p class="tw-ud tw-sma tw-lma tw-hga tw-gr">Workspace</p>
                  <ul class="menu tw-is tw-kma tw-wia tw-my tw-fpa">
                     <li>
                        <a class="flex tw-fp tw-dea " href="/settings/plan" data-discover="true">
                           <span class="iconify lucide--layers-2 tw-rba"></span>
                           <p class="grow">Manage Plan</p>
                           <span class="iconify lucide--chevron-right"></span>
                        </a>
                     </li>
                  </ul>
                  <ul class="menu tw-is tw-lka tw-wia tw-my tw-fpa">
                     <li>
                        <a class="tw-gv tw-lh flex tw-fp tw-dea" href="/auth/login" data-discover="true">
                           <span class="iconify lucide--log-out tw-rba"></span>
                           <p class="grow">Logout</p>
                        </a>
                     </li>
                  </ul>
                  <hr class="tw-ii tw-lma tw-qm">
                  <p class="tw-ud tw-sma tw-lma flex tw-fp tw-zi tw-rja tw-hga tw-gr">Switch Account</p>
                  <div class="dropdown dropdown-hover dropdown-center dropdown-top tw-jma">
                     <div class="tw-is tw-bg flex tw-rk tw-fp tw-rja tw-nna tw-tna">
                        <div class="avatar">
                           <div class="tw-wq mask tw-cn tw-hfa"><img alt="Avatar" src="/images/avatars/1.png"></div>
                        </div>
                        <div class="grow">
                           <p class="tw-gr">Denish</p>
                           <p class="tw-ud tw-vda tw-hga">@withden</p>
                        </div>
                        <span class="tw-ud iconify lucide--chevrons-up-down tw-qba"></span>
                     </div>
                     <div tabindex="0" class="dropdown-content tw-vq card tw-ppa tw-wia tw-ps tw-gpa tw-hga shadow tw-vi">
                        <div class="tw-bg tw-is flex tw-rk tw-fp tw-dea tw-nna tw-tna">
                           <div class="avatar">
                              <div class="tw-wq mask tw-cn tw-kia"><img alt="Avatar" src="/images/avatars/3.png"></div>
                           </div>
                           <div class="grow">
                              <p class="tw-hga tw-gr">Project Manager</p>
                              <p class="tw-ud tw-bja tw-hga">@manager</p>
                           </div>
                        </div>
                        <div class="tw-bg tw-is flex tw-rk tw-fp tw-dea tw-nna tw-tna">
                           <div class="avatar">
                              <div class="tw-wq mask tw-cn tw-kia"><img alt="Avatar" src="/images/avatars/4.png"></div>
                           </div>
                           <div class="grow">
                              <p class="tw-hga tw-gr">Lead Developer</p>
                              <p class="tw-ud tw-bja tw-hga">@devlead</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="grow">
                  <div class="card tw-vq tw-jpa shadow tw-rha">
                     <div>
                        <div class="flex tw-fp tw-zi tw-rja">
                           <p class="tw-gga tw-gr">Profile</p>
                           <div class="breadcrumbs tw-fpa tw-hga tw-fn">
                              <ul>
                                 <li class="tw-wd">General</li>
                                 <li>Profile</li>
                              </ul>
                           </div>
                        </div>
                        <p class="tw-wd tw-mma tw-hga tw-gr">Public Avatar</p>
                        <div class="tw-mma flex tw-fp tw-sja">
                           <div class="avatar">
                              <div class="tw-wq mask tw-cn tw-coa"><img alt="Avatar" src="/images/avatars/1.png"></div>
                           </div>
                           <button class="btn btn-sm btn-primary">Change Avatar</button><button class="btn btn-sm btn-error btn-soft">Remove</button>
                        </div>
                        <hr class="tw-ii tw-yma tw-qm">
                        <p class="tw-wd tw-hga tw-gr">Personal Information</p>
                        <div class="fieldset tw-mma tw-qja">
                           <div class="grid tw-ir tw-sja tw-cm">
                              <div class="tw-ny"><label class="fieldset-label" for="full_name">Full Name</label><label class="input tw-wia"><span class="iconify lucide--user tw-wd tw-gia"></span><input placeholder="Full Name" id="full_name" type="text" value="Denish Navadiya"></label></div>
                              <div class="tw-ny"><label class="fieldset-label" for="username">Username</label><label class="input tw-wia"><span class="iconify lucide--at-sign tw-wd tw-gia"></span><input placeholder="Username" id="username" type="text" value="withden"></label></div>
                              <div class="tw-ny"><label class="fieldset-label" for="email">Email Address</label><label class="input tw-wia"><span class="iconify lucide--mail tw-wd tw-gia"></span><input id="email" placeholder="Email Address" type="email" value="me@email.com" name="email"></label></div>
                              <div class="tw-ny"><label class="fieldset-label" for="phone_number">Phone Number <span class="tw-ud">(optional)</span></label><label class="input tw-wia"><span class="iconify lucide--phone tw-wd tw-gia"></span><input id="phone_number" placeholder="Phone Number" type="tel" value="(+98) 7654 3210" name="phone_number"></label></div>
                           </div>
                        </div>
                        <hr class="tw-ii tw-yma tw-qm">
                        <p class="tw-wd tw-hga tw-gr">Address</p>
                        <div class="fieldset tw-mma tw-qja">
                           <div class="grid tw-ir tw-sja tw-cm">
                              <div class="tw-ny"><label class="fieldset-label" for="state">State</label><label class="input tw-wia"><span class="iconify lucide--map-pin tw-wd tw-gia"></span><input id="state" placeholder="State" type="text" value="California" name="state"></label></div>
                              <div class="tw-ny"><label class="fieldset-label" for="country">Country</label><label class="input tw-wia"><span class="iconify lucide--globe tw-wd tw-gia"></span><input placeholder="Country" id="country" type="text" value="United States" name="country"></label></div>
                              <div class="tw-ny"><label class="fieldset-label" for="postal_code">Postal code <span class="tw-ud"></span></label><label class="input tw-wia"><span class="iconify lucide--mailbox tw-wd tw-gia"></span><input id="postal_code" placeholder="Postal Code" type="text" value="90210" name="postal_code"></label></div>
                              <div class="tw-ny"><label class="fieldset-label" for="tax_id">Tax ID</label><label class="input tw-wia"><span class="iconify lucide--file-text tw-wd tw-gia"></span><input placeholder="Tax ID" id="tax_id" type="text" value="12-3456789" name="tax_id"></label></div>
                           </div>
                        </div>
                        <div class="tw-nma flex tw-fp tw-or tw-sja"><a class="btn btn-error btn-sm btn-soft tw-we" href="/settings/account" data-discover="true">Change Password</a><button class="btn btn-sm btn-primary"><span class="iconify lucide--arrow-up-from-line tw-fia"></span>Update</button></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tw-pma tw-daa tw-vv">
            <div>
               <div class="tw-dp tw-nq tw-woa tw-wia tw-mk"></div>
               <div class="flex tw-rw tw-fp tw-zi tw-tja tw-lpa tw-cba tw-uea">
                  <div>
                     <a href="/" data-discover="true"><img alt="logo-dark" class="hidden tw-apa tw-qha tw-er " src="/images/logo/logo-dark.svg"><img alt="logo-light" class="tw-apa tw-qha tw-dr " src="/images/logo/logo-light.svg"></a>
                     <p class="tw-wd tw-lma tw-paa tw-gl">Empowering developers with AI-driven innovation. Write less, build faster, and deploy smarter</p>
                  </div>
                  <div>
                     <p class="tw-gr">Stay Updated with the Latest AI Trends</p>
                     <div class="tw-jma flex tw-fp tw-rja"><label class="input tw-wia"><span class="iconify lucide--mail tw-wd tw-gia"></span><input placeholder="Email Address" type="email" name="email"></label><button class="btn btn-neutral">Subscribe</button></div>
                     <p class="tw-wd tw-jma tw-jga italic">No spam, just useful updates.</p>
                  </div>
               </div>
               <div class="tw-ii tw-oz tw-qm tw-lpa tw-cba tw-uea">
                  <div class="grid tw-uja tw-xk">
                     <div class="tw-qt">
                        <p class="tw-gr">Connect</p>
                        <div class="tw-lma flex tw-fp tw-dea">
                           <span class="iconify lucide--mail tw-rba"></span>
                           <p>Your email</p>
                        </div>
                        <div class="tw-kma flex tw-fp tw-dea">
                           <span class="iconify lucide--phone tw-rba"></span>
                           <p>Your number</p>
                        </div>
                        <div class="tw-kma flex tw-fp tw-dea">
                           <span class="iconify lucide--map-pin tw-rba"></span>
                           <p>Your address</p>
                        </div>
                        <div class="tw-lma flex tw-fp tw-qja tw-iea"><button class="btn btn-sm btn-circle" aria-label="Google"><img class="tw-rba tw-fr" alt="Google" src="/images/brand-logo/google.svg"></button><button class="btn btn-sm btn-circle" aria-label="Apple"><img class="tw-rba tw-fr" alt="Apple" src="/images/brand-logo/apple.svg"></button><button class="btn btn-sm btn-circle" aria-label="Github"><img class="tw-rba tw-fr" alt="Github" src="/images/brand-logo/github.svg"></button><button class="btn btn-sm btn-circle" aria-label="X"><img class="tw-qba tw-fr" alt="X" src="/images/brand-logo/x.svg"></button></div>
                     </div>
                     <div class="tw-rt grid tw-uja tw-ll">
                        <div>
                           <h2 class="tw-gga tw-gr">Quick Links</h2>
                           <div class="tw-kma flex tw-uz tw-qja"><a class="hover:link-primary" href="/settings/profile" data-discover="true">Home</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">Features</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">Pricing</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">About Us</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">Contact</a></div>
                        </div>
                        <div>
                           <h2 class="tw-gga tw-gr">Resources</h2>
                           <div class="tw-kma flex tw-uz tw-qja">
                              <a class="hover:link-primary" href="/settings/profile" data-discover="true">Documentation</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">Help Center</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">FAQs</a>
                              <a class="hover:link-primary flex tw-fp tw-qja" href="/settings/profile" data-discover="true">
                                 Community 
                                 <div class="badge badge-sm badge-primary tw-vp">New</div>
                              </a>
                              <a class="hover:link-primary" href="/settings/profile" data-discover="true">Blog</a>
                           </div>
                        </div>
                        <div>
                           <h2 class="tw-gga tw-gr">Legal</h2>
                           <div class="tw-kma flex tw-uz tw-qja">
                              <a class="hover:link-primary flex tw-fp tw-qja" href="/settings/profile" data-discover="true">
                                 Privacy Policy
                                 <div class="badge badge-sm badge-error badge-outline tw-vp">Updated</div>
                              </a>
                              <a class="hover:link-primary" href="/settings/profile" data-discover="true">Terms of Service</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">GDPR</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">Compliance</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">Cookies Policy</a><a class="hover:link-primary" href="/settings/profile" data-discover="true">Security &amp; Compliance</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tw-ii flex tw-rw tw-fp tw-zi tw-qja tw-oz tw-qm tw-rna tw-wna tw-gl tw-cba">
                  <p>© 2025 Scalo - Startup Template</p>
                  <p>Concept to Reality by<a class="tw-cma tw-bo tw-bm tw-je" href="https://x.com/withden_" target="_blank">Denish Navadiya</a></p>
                  <div class="tw-lr tw-fp tw-sja"><a class="link hover:link-primary tw-tp" href="/" data-discover="true">Terms</a><a class="link hover:link-primary tw-tp" href="/" data-discover="true">Privacy</a><a class="link hover:link-primary tw-tp" href="/" data-discover="true">Sitemap</a></div>
               </div>
            </div>
         </div>
      </div>
      <a class="btn btn-sm not-hover:btn-circle btn-primary group fixed tw-lja tw-rz tw-xia tw-qja tw-vp tw-pu tw-bm tw-eg" href="https://daisyui.com/store/475050/" target="_blank"><span class="iconify lucide--shopping-cart tw-rba"></span><span class="hidden tw-mpa tw-hga tw-bf tw-zf">Buy Now</span></a>
   </div>
   <script>
      new MutationObserver(() => {
          document.querySelector("#splash-screen")?.classList.add("remove");
      }).observe(document.querySelector("#root"), { childList: true });
   </script>
</body>



      {% include 'footer.html' %}

</html>